
@font-face {
  font-family: 'Monolito';
  src: url('fonts/MONOLITO.otf') format('opentype');
  font-weight: normal; 
  font-style: normal;
}

:root {
  --cor-verde-claro: #a6da84;
  --cor-verde-escuro: #606C38;
  --cor-laranja-terracota: #BC6C25;
  --cor-bege-dourado: #DDA15E;
  --cor-creme-claro: #FEFAE0;
  --cor-ver-oliva-claro: #cce289;
  --cor-azul: #1050d4;
  --cor-azul-claro: #4c86fc;
  --fonte-h1: 'Monolito', sans-serif;
  --fonte-corpo: 'Manrope', sans-serif;
  

  --fs-base: 1.6rem;
  --fs-h1: 6.4rem;
  --fs-h2: 3.6rem;
  --fs-h3: 2.4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; 
  scroll-behavior: smooth;
}

body {
  font-family: var(--fonte-corpo);
  font-size: var(--fs-base);
  font-weight: 600;
}

h1 {
  font-family: var(--fonte-h1);
  font-weight: normal;
}

h2, h3, h4, h5, h6 {
  font-family: var(--fonte-corpo);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}


.container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.hero {
  background-image: url('img/WEB_HEADER_IMG.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 55% 45%;
  align-items: center;
  min-height: 90vh;
}

.hero-content {
  grid-column: 1 / 2;
  padding-left: 10%;
  padding-right: 2rem;
}

.hero-content h1 {
  font-size: 12rem;
  color: var(--cor-verde-claro);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.hero-content h1 span {
  color: var(--cor-creme-claro);
  text-shadow: 1px 1px 3px rgba(40, 54, 24, 0.4);
}

.hero-subtitle {
  display: inline-block;
  background-color: var(--cor-verde-escuro);
  color: var(--cor-creme-claro);
  padding: 1rem 2rem; 
  border-radius: 5px; 
  font-family: var(--fonte-corpo);
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}

.hero-text {
  font-size: var(--fs-h3);
  line-height: 1.6;
  color: var(--cor-creme-claro);
  margin-bottom: 2.5rem;
  max-width: 50ch;
}

.hero-label {
  font-family: var(--fonte-corpo);
  font-size: var(--fs-h3);
  font-weight: 600;
  color: var(--cor-verde-claro);
  text-transform: uppercase;
  margin-bottom: 3rem;
  letter-spacing: 0.5px;
}

.btn-primary {
  display: inline-block;
  font-family: var(--fonte-corpo);
  font-weight: 600;
  font-size: var(--fs-h2);
  color: var(--cor-creme-claro);
  background-color: var(--cor-verde-escuro);
  padding: 1.5rem 3rem;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.3s;
}

.btn-primary:hover {
  background-color: var(--cor-creme-claro);
  color: var(--cor-verde-escuro);
  transform: translateY(-3px);
}

.pitch-section {
  background-image: url('img/WEB_SESSÃO_2_IMG.png');
  background-color: var(--cor-verde-claro);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  padding: 8rem 0;
  color: var(--cor-creme-claro);
}

.content-right {
  grid-column: 2 / 3;
  padding-left: 10%;
  padding-right: 5%;
  text-align: right;
}

.checklist {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 3rem;
}

.pitch-section h2 {
  font-family: var(--fonte-h1);
  font-size: 10rem;
  color: var(--cor-ver-oliva-claro);
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.pitch-section h2 .highlight-orange {
  color: var(--cor-creme-claro);
}

.check-item {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 1.5rem;
  font-size: 4rem;
  font-weight: 600;
}

.check-item img {
  width: 24px; 
  height: 24px;
}

.final-text {
  font-size: 3rem;
  font-style: italic;
  line-height: 1.6;
}

.consultoria-section {
  background-image: url('img/WEB_SECTION_3_IMG.png');
  background-position: center top;
  background-size: cover;
  display: grid;
  grid-template-columns: 930fr 990fr; 
}


.consultoria-right {
  display: grid;
  grid-template-rows: 600px auto;
  align-items: start;
}

.consultoria-content {
  grid-row: 2 / 3;
  padding-left: 80px;
  padding-right: 60px;
  color: var(--cor-creme-claro);
  text-align: right;
}

.consultoria-content p {
  font-size: 3rem;
  line-height: 1.7;
  margin-bottom: 3rem;
  max-width: 65ch;
}

.consultoria-content p:last-child {
  margin-bottom: 0;
}

.consultoria-content strong {
  font-weight: 800;
}

.consultoria-content h3 {
    
  display: inline-block;
  background-image: linear-gradient(to right, var(--cor-verde-escuro), var(--cor-laranja-terracota)); 
  color: var(--cor-ver-oliva-claro);
  font-family: var(--fonte-corpo);
  font-size: 8rem;
  font-weight: 600;
  text-transform: uppercase;
  align-items: right;
  padding: 0.5rem 1.5rem;
  margin-bottom: 3rem;
  border-radius: 15px;
}

.como-funciona-section {
  background-image: url('img/WEB_SECTION_4.png');
  background-color: var(--cor-azul);
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 55% 45%; 
  align-items: center;
  padding: 8rem 0;
}

.como-funciona-content {
  grid-column: 2 / 3; 
  padding-right: 15%; 
  padding-left: 2rem; 
  color: var(--cor-creme-claro);
}

.como-funciona-content h2 {
  font-family: var(--fonte-h1);
  font-size: 12rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 3rem;
  text-align: right;
  color: var(--cor-verde-claro);
  background-image: linear-gradient(
    to right, 
    var(--cor-azul), 
    var(--cor-verde-escuro)
  );
  display: inline-block;  
  padding: 1rem 2rem;    
  border-radius: 10px; 
}

.como-funciona-content .subtitulo {
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 4rem;
  text-align: right;
}

.como-funciona-content p {
  font-size: 2.9rem;
  line-height: 1.2;
  margin-bottom: 3rem;
  max-width: 50ch;
  text-align: right;
}

.como-funciona-content p:last-child {
  margin-bottom: 0;
}

.como-funciona-content p strong {
  color: #ffff;
  font-weight: 8000;
}

.etapas-section {
  background-color: var(--cor-azul);
  padding: 8rem 0;
  color: var(--cor-creme-claro);
}

.etapas-titulo-principal {
  font-family: var(--fonte-h1);
  font-size: 10rem;
  font-weight: 300;
  color: var(--cor-verde-claro);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5rem;
}

.etapas-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-bottom: 5rem;
}

.etapa-card {
  background-color: var(--cor-azul-claro);
  padding: 2.5rem;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
}

.etapas-grid:hover > .etapa-card {
  transform: scale(0.95);
  opacity: 0.7;
}

.etapas-grid:hover > .etapa-card:hover {
  transform: scale(1.05);
  opacity: 1;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.etapa-numero {
  display: block;
  font-family: var(--fonte-h1);
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.etapa-card h3 {
  font-family: var(--fonte-corpo);
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.etapa-card p {
  font-size: 1.6rem;
  line-height: 1.6;
}

.etapas-subtitulo {
  font-family: var(--fonte-corpo);
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}

.contato-box {
  background-color: var(--cor-creme-claro);
  color: var(--cor-azul); 
  border-radius: 15px;
  padding: 3rem;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.contato-box p {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.7;
}

.contato-box strong {
  font-weight: 800;
}

.depoimentos-section {
  background-image: url('img/WEB._SECTION_6.png');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20rem;
  padding: 8rem 5%;
}

.depoimentos-content {
  color: var(--cor-azul); 
}

.label-depoimento {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  color: var(--cor-creme-claro); 
  position: relative;            
  padding-left: 1.5rem;         
}

.label-depoimento::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); 
  width: 4px;
  height: 5rem; 
  background-color: var(--cor-azul);
  border-radius: 2px;
}

.depoimentos-content h2 {
  font-family: var(--fonte-h1);
  font-size: 14rem;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.depoimentos-content h2 .highlight-white {
  color: var(--cor-creme-claro);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.depoimentos-content .texto-principal {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.4;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.depoimentos-content .texto-secundario {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--cor-creme-claro);
}

.depoimentos-cards {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.card-depoimento {
  display: flex;
  align-items: stretch; 
  
  background-color: #FFFFFF;
  color: var(--cor-azul);
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  
  overflow: hidden; 
  min-height: 200px;
}
.card-imagem {
  flex: 0 0 150px; 
}

.card-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  padding: 1rem;
}

.card-texto {
  flex: 1; 
  padding: 2.5rem; 
  font-size: 2rem;
}

.card-texto p:first-of-type {
  font-style: italic;
  font-weight: 600;
  margin-bottom: 1rem;
}

.disclaimer {
  font-size: 1.4rem;
  font-style: italic;
  color: var(--cor-creme-claro); 
  text-align: right;
  padding-right: 1.5rem;
}
@media (max-width: 768px) {
  .hero {
    background-image: url('img/MOBILE_HEADER_IMG.png');
    background-position: center center;
    grid-template-columns: 1fr;
    grid-template-rows: 55% 45%;
    align-items: start;
    min-height: 100vh;
  }

  .hero-content {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding: 6rem 2.5rem 2rem 2.5rem; 
    text-align: center;
  }

  .hero-content h1 {
    font-size: 6rem; 
  }
  
  .hero-subtitle {
    font-size: 1.4rem;
    padding: 0.8rem 1.5rem;
  }

  .hero-text {
    font-size: 1.5rem; 
    line-height: 1.5;
    max-width: 100%;
  }

  .hero-label {
    font-size: 1.2rem; 
  }

  .btn-primary {
    font-size: 1.4rem; 
    padding: 1.2rem 2.4rem;
  }

.pitch-section {
  background-image: url('img/MOBILE_SECTION_2_IMG.png');
  background-position: center top;
  background-size: cover;
  grid-template-columns: 1fr;
  grid-template-rows: 40% 60%;
  align-items: start;
  min-height: 100vh;
  padding: 0;
}

.content-right {
  grid-row: 2 / 3; 
  grid-column: 1 / 2; 
  padding: 2.5rem;
  text-align: center;
}

.pitch-section h2 {
  font-size: 4rem;
  margin-bottom: 3.5rem;
}

.checklist {
  display: inline-flex; 
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 3rem;
}

.check-item {
  justify-content: flex-start;
  flex-direction: row-reverse;
  gap: 1.5rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.final-text {
  font-size: 1.6rem;
}
.consultoria-section {
  background-image: url('img/MOBILE_SECTION_3_IMG.png');
  background-position: center top;
  background-size: cover;
  grid-template-columns: 1fr;
  grid-template-rows: 230fr 700fr 550fr;
  min-height: 150vh; 
}

.consultoria-left {
  display: none;
}

.consultoria-right {
  grid-column: 1 / 2; 
  grid-row: 2 / 3;   
  display: block;    
  align-self: center; 
}

.consultoria-content {
  grid-row: auto; 
  padding: 0 2.5rem; 
  text-align: center; 
}

.consultoria-content p {
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

.consultoria-content h3 {
  font-size: 3.2rem;
  margin-bottom: 2.5rem;
}
.como-funciona-section {
  background-image: url('img/MOBILE_SECTION_4.png');
  background-position: center bottom; 
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  padding: 0;
}

.como-funciona-content {
  grid-column: auto; 
  padding: 5rem 2.5rem; 
  text-align: center;
  width: 100%;
}

.como-funciona-content h2 {
  font-size: 5rem;
  line-height: 1.1;
  margin-bottom: 2rem;
  padding: 0.8rem 1.5rem; 
  border-radius: 8px; 
  text-align: center; 
  display: inline-block; 
}

.como-funciona-content .subtitulo {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.como-funciona-content p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  max-width: none; 
}


.etapas-titulo-principal {
  font-size: 5rem;
  line-height: 1.2;
}



.etapas-grid {
  grid-template-columns: 1fr;
  gap: 2.5rem;
  padding-left: 7rem;  
  padding-right: 7rem;
}

.etapas-subtitulo {
  font-size: 2rem;
}

.contato-box p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.etapas-grid:hover > .etapa-card {
  transform: none;
  opacity: 1;
}

.etapas-grid:hover > .etapa-card:hover {
  transform: none;
  opacity: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.depoimentos-section {
  grid-template-columns: 1fr;
  padding: 13rem 2.5rem 5rem;
  gap: 10rem;
  background-image: url('img/MOBILE_SECTION_6.png'); 
  background-position: center top;
  background-size: cover;
}

.depoimentos-content {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
}

.depoimentos-content h2 {
  order: 1; 
  font-size: 5rem; 
  line-height: 1.1;
  color: var(--cor-azul);
}

.depoimentos-content h2 .highlight-white {
   color: var(--cor-creme-claro); 
}

.depoimentos-content .texto-principal {
  order: 2; 
  font-size: 1.7rem;
  color: var(--cor-azul);
}

.depoimentos-content .texto-secundario {
  order: 3; 
  font-size: 1.8rem;
  color: var(--cor-creme-claro);
  margin-bottom: 3rem; 
}

.label-depoimento {
  order: 4; 
  font-size: 1.6rem;
  color: var(--cor-azul); 
  padding-left: 0;
  margin-bottom: 3rem; 
  position: relative;
}

.label-depoimento::before {
  display: none;
}
.label-depoimento::after {
  content: ''; 
  position: absolute;
  left: 50%; 
  bottom: -1.5rem;
  transform: translateX(-50%); 

  width: 100px;
  height: 3px;
  background-color: var(--cor-azul);
  border-radius: 2px;
}

.card-depoimento {
  display: block; 
  min-height: auto;
}

.card-imagem {
  flex: none;
  width: 100%;
  height: auto;
}

.card-texto {
  flex: none; 
  padding: 2.5rem; 
  text-align: left;
}

.card-texto p {
  font-size: 1.5rem;
}

.disclaimer {
  text-align: center;
  padding: 1rem 0 0 0;
  color: var(--cor-creme-claro); 
}
}